@import '~ant-design-vue/dist/antd.css';

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

:root {
    --theme: #1890ff;
    --nav-bg: #001529;
    --nav-text-color: #fff;

    &[theme-mode='dark'] {
        --nav-bg: #001529;
        --nav-text-color: #fff;
    }

    &[theme-mode='light'] {
        --nav-bg: #fff;
        --theme: #1890ff;
    }
}

body {
    background-color: #f4f6f9;
}

.app-header {
    background-color: var(--nav-bg);
    color: var(--nav-text-color);

    .app-header-title {
        color: var(--nav-text-color);
    }
}

.app-content {
    background-color: #f4f6f9;
}

.app-side-menu {
    background-color: var(--nav-bg);
}

.app-tab-page {
    
}

.app-table-padding-page {
    padding: 12px;
}